* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
    color: inherit;
}
  
html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
    margin-top: 150px;
}

img {
    width: 100%;
}

body {
  background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0)), url('/ClientSide/images/background.jpg');
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
nav {
  margin-top: 1%;
}

nav ul{
  display: flex;
  list-style: none;
  font-size: 4rem;
}

nav li {
  margin-right: 90px;
}

nav a:hover {
  text-decoration: underline;
}

button {
  padding: 5px 15px;
  background: rgb(86, 86, 87);
  border: 0 none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
