* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  html, body {
    height: 100vh;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
  }

img {
    width: 100%;
}

body {
  background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0)), url('http://www.murphymeadow.com/26/white-flowers-background-tumblr-29.jpg');
  /* https://i.pinimg.com/originals/c4/82/af/c482af0f3d8ae22948ddec5cedcbeef6.jpg */
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}
nav {
  margin-top: 1.5%;
}

nav ul{
  display: flex;
  list-style: none;
  font-size: 3rem;
}

nav li {
  margin-right: 70px;
}

nav a:hover {
  text-decoration: underline;
}
