* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html, body {
    height: 100%;
  }

img {
    width: 100%;
}

body {


}

body::after {
    content: '';
    background-image: url('http://www.themesltd.com/backgrounds/cartoon/pokemon_pokeball.gif');
    background-attachment: fixed;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 20%;
    z-index: -1;
    position: absolute;
}