/****************** ANIMATIONS
******************/

.card {
    transform-style: preserve-3d;
    transition: transform .7s;
}

.front{
    /* font-size: 4rem;
    color: rgb(107, 46, 130);
    background-color: rgb(66, 244, 170);
    border: 3px solid rgb(239, 147, 67); */
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
  }
  
  @keyframes flash {
    0% {
      background-color: white;
    }
    100% {
      background-color: default;
    }
  }
  
  .match {
    animation: 1s flash .7s ease-in-out;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
